body{
    background-color: gray;
}

form{
    
    display: table;
    margin:0 auto;
    
}

input {
    display: table;
    margin:0 auto;
    
}

#uiDiv{
    border-radius: 25px;
    text-align: center;
    background-color: lightcoral;
    padding: 20px;
    width: 1000px;
    display: table;
    margin: 0 auto;
    
}

#usersDiv{
    text-align: center;
    width: 750px;
    display: table;
    margin: 0 auto;
}

#usersDiv div{
    
    margin: 20px 0px 0px 0px;
    background-color: lightgoldenrodyellow;
    border-radius: 50px ;
    
}

#usersDiv button {
    margin: 10px;
}



