body{
    background-color: lightblue;
}

#uiDiv{
    text-align: center;
    background-color: lightcoral;
}

#usersDiv{
    text-align: center;
}

#usersDiv div{
    border: 25px double  khaki;
    margin: 20px 0px 0px 0px;
    background-color: lightgoldenrodyellow;
    border-radius: 50px ;
    
}

#usersDiv div :hover {
    background-color: lightgreen ;
}

