body{
    background-color: slategray;
}

#uiDiv{
    text-align: center;


}

#postsDiv {
    background-color:lightcoral;
    text-align: center;
    border-radius: 25px;
    display: table;
    margin:0 auto;
    margin-bottom: 50px;
}

#postsDiv div{
    text-align: center;
    border: solid 10px  pink;
    margin: 25px 25px 25px 25px;
    border-radius: 25px;
    background-color: lightblue;
    
}
