body{
    background-color: lightslategrey;
}

#initDiv{
    background-color: lightcoral;
    text-align: center;
}
#copyrightDiv {
    padding: 50px 0;
    margin-top: 20px;
}

#toggle {
    color: lightpink;
}
#infoDiv {
    display: flex;
}
#infoDiv div{

    border: solid khaki 2px;
  
    height: auto;
    width: 50%;
    

}
#infoDiv h2 h3 {
    color:  lavender;
}
