body {
    /* background-image: url("date.png"); */
    background-color:black;
    background-size: auto;
}

h3 {
    color: lightpink;
    font-size: 4em;
    text-align: center;
}

.initDiv {
    display: flexbox;
    align-items:center;
    justify-content: center;

}

button {
    border: solid black;
  border-width: 0 3px 3px 0;
  display: inline;
  background-color: lemonchiffon;
  padding: 20px 26px 26px 20px;
  
}

select {
    background-color: lightcoral;
    
}

.leftArwBtn {
    transform: rotate(135deg);
}
.rightArwBtn {
    transform: rotate(-45deg);
}