body {
    background-color: black;
    background-image: url(https://media.giphy.com/media/RHIKETUlUINYvV7CAO/giphy.gif);
    text-align: center;

    display: flex;

    flex-direction: column;
}


button {
    size: 25ex;
    background-color: hotpink;
}

select {
    background-color: lawngreen;
    
}

h2{
    color: lemonchiffon;
}
h5{
    color: lightcoral;
}

p{
    color: lightpink;
   
    font-size: small;

    word-wrap: normal;

}

#nasaPOTD {
    display: flex;

    flex-direction: column;

    margin-top: 10%;
}

#nasaPOTD div {
    width: 700px;
    margin: auto;
}

#nasaPOTD img {
    width:500px;
   object-fit: scale-down;

   margin: auto; 

}

#nasaPOTD h4,h5{
    color: white;
     background-color: grey;

    margin-left: 45%;
    margin-right: 45%;
    padding: 10px;
    border-radius: 10px;
}

#nasaPOTD p{
    position: absolute;

    color: white;

    width: 400px;

    left: 50%;
    right: 50%;
    
    transition: ease-in-out .1s;

    padding: 10px;
    border-radius: 10px;

    position: absolute;

    color: white;

    width: 400px;

    left: 50%;
    right: 50%;
    
    transition: ease-in-out .1s;

    padding: 10px;
    border-radius: 10px;

    border: solid 2px violet;

    display: none;

    opacity: 0;


}

#nasaPOTD div {
    width:700px;
    margin: auto;

}

#nasaPOTD div:hover p {
    opacity: 1;
}
