body{
    background-color: lightgreen;
}
h1{
    text-align: center;
}
div{
    text-align: center;
}

#crDiv{
    padding-top: 20px;
}

input {
    background-color: lightpink;
}

select {
    background-color: lightsalmon;
}